<div class="wrapper">
  <div class="sidebar" data-color="blue" data-image="/assets/UserPanel/assets/img/sidebar-1.jpg" data-background-color="black">
    <div class="logo">
      <a href="javascript:void(0);" class="simple-text">
        COLL.IO
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li [ngClass]="_CurrentRouting==='DashBoard' ? 'active' : ''">
          <a href="javascript:void(0);" routerLinkActive="active" (click)="ATag();">
            <i class="material-icons ">dashboard</i>
            <p>{{_CompititorPage}}
              <i id="DropDown" class="fa fa-angle-down pull-right" style="margin-right:0px;" (click)="DropDown();"></i>
            </p>
          </a>
          <ul id='dropdown1' class='dropdown-content' style="display: none;" *ngFor="let item of _CompititorLinks.results | searchfilter: 'name': _CompititorPage | sort: 'name' ">
            <li>
              <a href="javascript:void(0);" (click)="CompititorPage(item)">
                {{item.name}}
              </a>
            </li>
          </ul>

        </li>
        <li [ngClass]="_CurrentRouting==='forecast' ? 'active' : ''">
          <a [routerLink]="[ 'forecast'] " routerLinkActive="active ">
            <i class="material-icons ">content_paste</i>
            <p>Forecast</p>
          </a>
        </li>
        <li [ngClass]="_CurrentRouting==='DataFile' ? 'active' : ''">
          <a [routerLink]="[ 'datafile',_CompititorPageId] " routerLinkActive="active ">
            <i class="material-icons ">library_books</i>
            <p>Data Files</p>
          </a>
        </li>
        <li [ngClass]="_CurrentRouting==='Notification' ? 'active' : ''">
          <a [routerLink]="[ 'usernotification'] " routerLinkActive="active ">
            <i class="material-icons text-gray ">notifications</i>
            <p>Notifications</p>
          </a>
        </li>
        <li [ngClass]="_CurrentRouting==='UserSetting' ? 'active' : ''">
          <a [routerLink]="[ 'usersetting'] " routerLinkActive="active ">
            <i class="material-icons ">person</i>
            <p>User settings </p>
          </a>
        </li>

        <li [ngClass]="_CurrentRouting==='Person' ? 'active' : ''">
          <a [routerLink]="[ 'usersetting'] " routerLinkActive="active ">
            <i class="material-icons ">bubble_chart</i>
            <p>Community</p>
          </a>
        </li>

        <li [ngClass]="_CurrentRouting==='Person' ? 'active' : ''">
          <a [routerLink]="[ 'usersetting'] " routerLinkActive="active ">
            <i class="material-icons ">location_on</i>
            <p>Automatic actions</p>
          </a>
        </li>

        <li class="active-pro ">
          <a href="javascript:void(0); " (click)="logout() ">
            <i class="material-icons ">unarchive</i>
            <p>LogOut</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel ">
    <nav class="navbar navbar-transparent navbar-absolute ">
      <div class="container-fluid ">
        <div class="navbar-header ">
          <button id="BtnHeader" type="button " class="navbar-toggle " data-toggle="collapse ">
            <span class="sr-only ">Toggle navigation</span>
            <span class="icon-bar "></span>
            <span class="icon-bar "></span>
            <span class="icon-bar "></span>
          </button>
          <a class="navbar-brand " href="javscript:void(0);">{{_CurrentRouting}}</a>

        </div>
        <div class="collapse navbar-collapse ">
          <ul class="nav navbar-nav navbar-right ">

            <li class="dropdown ">
              <a href="javscript:void(0);" class="dropdown-toggle " data-toggle="dropdown ">
                <i class="material-icons ">notifications</i>
                <span class="notification ">5</span>
                <p class="hidden-lg hidden-md ">Notifications</p>
              </a>
              <ul class="dropdown-menu ">
                <li>
                  <a href="javscript:void(0);">Mike John responded to your email</a>
                </li>
                <li>
                  <a href="javscript:void(0);">You have 5 new tasks</a>
                </li>
                <li>
                  <a href="javscript:void(0);">You're now friend with Andrew</a>
                </li>
                <li>
                  <a href="javscript:void(0);">Another Notification</a>
                </li>
                <li>
                  <a href="javscript:void(0);">Another One</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javscript:void(0);" class="dropdown-toggle " data-toggle="dropdown ">
                <i class="material-icons ">person</i>
                <p class="hidden-lg hidden-md ">Profile</p>
              </a>
            </li>
          </ul>

          <form class="navbar-form navbar-right " role="search ">
            <div class="form-group is-empty ">
              <input type="text " class="form-control " placeholder="Search ">
              <span class="material-input "></span>
            </div>
            <button type="submit " class="btn btn-white btn-round btn-just-icon ">
              <i class="material-icons ">search</i>
              <div class="ripple-container "></div>
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div class="content ">
      <div class="container-fluid ">
        <router-outlet></router-outlet>
      </div>
    </div>
    <footer class="footer ">
      <div class="container-fluid ">
        <nav class="pull-left ">
          <ul>
            <li>
              <a href="javscript:void(0);">
                Home
              </a>
            </li>
            <li>
              <a href="javscript:void(0);">
                Company
              </a>
            </li>
            <li>
              <a href="javscript:void(0);">
                Portfolio
              </a>
            </li>
            <li>
              <a href="javscript:void(0);">
                Blog
              </a>
            </li>
          </ul>
        </nav>
        <p class="copyright pull-right ">
          &copy;
          <script>document.write(new Date().getFullYear())</script>
          <a href="javscript:void(0);">Creative Tim</a>, made with love for a better web
        </p>
      </div>
    </footer>
  </div>

</div>

<!-- <div class="wrapper ">

  <div class="sidebar Afterlogin-body " data-color="blue " data-background-color="black " style="background-image: url(
          '/assets/UserPanel/assets/img/sidebar-1.jpg'); ">

    <div class="logo ">
      <a href="http://www.creative-tim.com " class="simple-text ">
        COLL.io
      </a>
    </div>

    <div class="sidebar-wrapper ">
      <ul class="nav ">
        <li class="active ">
          <a [routerLink]="[ 'dashboard'] " routerLinkActive="active ">
            <i class="material-icons ">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a [routerLink]="[ 'usersetting'] " routerLinkActive="active ">
            <i class="material-icons ">person</i>
            <p>User settings</p>
          </a>
        </li>
        <li>
          <a [routerLink]="[ 'usersetting'] " routerLinkActive="active ">
            <i class="material-icons ">content_paste</i>
            <p>Competitors</p>
          </a>
        </li>
        <li>
          <a [routerLink]="[ 'usersetting'] " routerLinkActive="active ">
            <i class="material-icons ">bubble_chart</i>
            <p>Community</p>
          </a>
        </li>
        <li>
          <a [routerLink]="[ 'usersetting'] " routerLinkActive="active ">
            <i class="material-icons ">library_books</i>
            <p>Data Files</p>
          </a>
        </li>
        <li>
          <a [routerLink]="[ 'usersetting'] " routerLinkActive="active ">
            <i class="material-icons ">location_on</i>
            <p>Automatic actions</p>
          </a>
        </li>
        <li>
          <a [routerLink]="[ 'usernotification'] " routerLinkActive="active ">
            <i class="material-icons text-gray ">notifications</i>
            <p>Notifications</p>
          </a>
        </li>
        <li class="active-pro ">
          <a href="javascript:void(0); " (click)="logout() ">
            <i class="material-icons ">unarchive</i>
            <p>LogOut</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel ">
    <nav class="navbar navbar-transparent navbar-absolute ">
      <div class="container-fluid ">
        <div class="navbar-header ">
          <button type="button " class="navbar-toggle " data-toggle="collapse ">
            <span class="sr-only ">Toggle navigation</span>
            <span class="icon-bar "></span>
            <span class="icon-bar "></span>
            <span class="icon-bar "></span>
          </button>
          <a class="navbar-brand " href="javscript:void(0);">"SouthPark " page Analysis</a>

        </div>
        <div class="collapse navbar-collapse ">
          <ul class="nav navbar-nav navbar-right ">
            <li>
              <a href="#pablo " class="dropdown-toggle " data-toggle="dropdown ">
                <i class="material-icons ">dashboard</i>
                <p class="hidden-lg hidden-md ">Dashboard</p>
              </a>
            </li>
            <li class="dropdown ">
              <a href="javscript:void(0);" class="dropdown-toggle " data-toggle="dropdown ">
                <i class="material-icons ">notifications</i>
                <span class="notification ">5</span>
                <p class="hidden-lg hidden-md ">Notifications</p>
              </a>
              <ul class="dropdown-menu ">
                <li>
                  <a href="javscript:void(0);">Mike John responded to your email</a>
                </li>
                <li>
                  <a href="javscript:void(0);">You have 5 new tasks</a>
                </li>
                <li>
                  <a href="javscript:void(0);">You're now friend with Andrew</a>
                </li>
                <li>
                  <a href="javscript:void(0);">Another Notification</a>
                </li>
                <li>
                  <a href="javscript:void(0);">Another One</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#pablo " class="dropdown-toggle " data-toggle="dropdown ">
                <i class="material-icons ">person</i>
                <p class="hidden-lg hidden-md ">Profile</p>
              </a>
            </li>
          </ul>

          <form class="navbar-form navbar-right " role="search ">
            <div class="form-group is-empty ">
              <input type="text " class="form-control " placeholder="Search ">
              <span class="material-input "></span>
            </div>
            <button type="submit " class="btn btn-white btn-round btn-just-icon ">
              <i class="material-icons ">search</i>
              <div class="ripple-container "></div>
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="content ">
      <div class="container-fluid ">
        <router-outlet></router-outlet>
      </div>
    </div>
    <footer class="footer ">
      <div class="container-fluid ">
        <nav class="pull-left ">
          <ul>
            <li>
              <a href="javscript:void(0);">
                Home
              </a>
            </li>
            <li>
              <a href="javscript:void(0);">
                Company
              </a>
            </li>
            <li>
              <a href="javscript:void(0);">
                Portfolio
              </a>
            </li>
            <li>
              <a href="javscript:void(0);">
                Blog
              </a>
            </li>
          </ul>
        </nav>
        <p class="copyright pull-right ">
          &copy;
          <script>document.write(new Date().getFullYear())</script>
          <a href="http://www.creative-tim.com ">Creative Tim</a>, made with love for a better web
        </p>
      </div>
    </footer>
  </div>
</div> -->