<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="300">
        <div class="container">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="../index.html" class="nav-link">
                            <i class="nc-icon nc-layout-11"></i>Components</a>
                    </li>
                    <li class="nav-item">
                        <a href="../documentation/tutorial-components.html" target="_blank" class="nav-link">
                            <i class="nc-icon nc-book-bookmark"></i> Documentation</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="page-header" data-parallax="true" style="background-image: url('/assets/UserPanel/assets/img/photo-1500989145603-8e7ef71d639e.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="motto text-center">
                <h1>Coll
                    <span class="text-danger">.io</span>
                </h1>
                <h3>Become the master of your online profile</h3>
                <br />
                <br />
                <button type="button" class="btn btn-outline-danger btn-round" (click)="Login();">Alpha is here!</button>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">Let's talk product</h2>
                        <h5 class="description">When creating Coll.io we sat in our minds to give our users and interface like no others - cutting down on complicated charts and irrelevent data tables to give you only the ones which will effect yow the most. To make that expierence
                            even better, we created an "insights" feature - this feature lets you see all the most important data about how to make your social profile bettar, all in one spot.</h5>
    
                        <a href="#paper-kit" class="btn btn-danger btn-round">Learn More</a>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-album-2"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Predict your growth</h4>
                                <p class="description">We will let you see by data from up to two years ago, what will happen in the future.</p>
                                <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-bulb-63"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Lean on Big data</h4>
                                <p>More data than you ever used - up to 1,000,000 posts per user and an unlimited time frame.</p>
                                <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-chart-bar-32"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Machine Learning</h4>
                                <p>Using Tensorflow library we grant yo the access to the most deep understandings of data.</p>
                                <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-sun-fog-29"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Delightful design</h4>
                                <p>Using AngularJS and the chartJS library we give you the best user expirience you can ask. </p>
                                <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    
        <div class="section section-nude text-center">
            <div class="container text-center">
                <h2 class="title">Let's talk Competitors</h2>
    
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-center">
                            <tr class="text-center">
                                <th class="text-center">Name</th>
                                <th class="text-center">Forecasting feature</th>
                                <th class="text-center">Data size</th>
                                <th class="text-center">Pages per user</th>
                                <th class="text-right">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
    
                                <td>Quintly</td>
                                <td>X</td>
                                <td>1 Year</td>
                                <td>5</td>
                                <td class="text-right">$ 129/Mo</td>
                            </tr>
                            <tr style="font-weight:bold">
                                <td style="font-weight:bold">Coll.io</td>
                                <td style="font-weight:bold">V</td>
                                <td style="font-weight:bold">Since Dawn of history</td>
                                <td style="font-weight:bold">5</td>
                                <td style="font-weight:bold" class="text-right">Free to use!</td>
                            </tr>
                            <tr>
                                <td>Agorapulse</td>
                                <td>X</td>
                                <td>2 Years</td>
                                <td>3</td>
                                <td class="text-right">$ 49/Mo</td>
                            </tr>
                            <tr>
                                <td>Komfo</td>
                                <td>X</td>
                                <td>Last 30 Days</td>
                                <td>10</td>
                                <td class="text-right">€ 1,000/Mo</td>
                            </tr>
                            <tr>
                                <td>Sotrender</td>
                                <td>X</td>
                                <td>2016</td>
                                <td>2</td>
                                <td class="text-right">$ 50/Mo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
            </div>
        </div>
    
        <div class="section landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="text-center">Keep in touch?</h2>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="border:1px solid #DDDDDD; border-right:1px solid transparent;">
                                            <i class="nc-icon nc-single-02"></i>
                                        </span>
                                        <input name="name" type="name" id="name" class="form-control" [(ngModel)]="_ContactUs.name" maxlength="20">
                                    </div>
                                    <span style="color: black">{{this._ContactUsError.name}}</span>
                                </div>
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <div class="input-group" style="border:1px solid #DDDDDD; border-top:1px solid transparent; border-bottom:1px solid transparent;">
                                        <!-- <span class="input-group-addon">
                                            <i class="nc-icon nc-email-85"></i>
                                        </span> -->
                                        <input name="email" type="email" id="email" class="form-control" [(ngModel)]="_ContactUs.email" maxlength="20" style="border-radius:3px;">
                                    </div>
                                    <span style="color: black">{{this._ContactUsError.email}}</span>
                                </div>
                            </div>
                            <label>Message</label>
                            <textarea class="form-control required" rows="4" name="text" type="text" id="text" placeholder="Tell us your thoughts and feelings..." [(ngModel)]="_ContactUs.text" maxlength="200"></textarea>
                            <span style="color: black">{{this._ContactUsError.text}}</span>
                            <div class="row">
                                <div class="col-md-4 ml-auto mr-auto">
                                    <button class="btn btn-danger btn-lg btn-fill" (click)="SendMsg()">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>