<div class="row" *ngFor="let Rowitem of _DashBoardInfo">
  <div *ngFor="let item of Rowitem" class="col-lg-{{item.btstrp_size}}">
    <div class="card" *ngIf="item.representation==='line'">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-7">
            <div class="numbers pull-left">{{item.current_value==false ?'' :item.current_value}}</div>
          </div>
          <div class="col-xs-5">
            <div class="pull-right">
              <span class="label label-success">
                +18%
              </span>
            </div>
          </div>
        </div>
        <h6 class="big-title" style="font-weight: 400;text-align:  center;">{{item.rubric_title}}
        </h6>
        <div class="col-lg-12">
          <canvas id="{{item.rubric_name}}" width="{{item.btstrp_size}}*100" height="450"></canvas>
        </div>
      </div>
      <div class="card-footer text-center">
        <div class="footer-title">{{item.description}}</div>

      </div>
    </div>
  </div>
</div>